<div class="post-wrapper"
     style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
  <div style="background-image:url(&quot;{{post.img}}&quot;)" class="blog-image blog-page"></div>
  <div class="post-content">
    <h1 class="blog-title">{{post.shortString}}</h1>
    <div>
      <div class="post-info">{{post.dateTime}}</div>
      <div class="post-info">|</div>
      <div class="post-info">|</div>
      <a href="./Categories.html#travel" class="post-info link">{{post.category}}</a>
    </div>
    <div class="grey-rule"></div>
    <div class="body-copy w-richtext">
      {{post.longString}}
    </div>
  </div>
</div>
<div class="button-wrapper">
  <button class="button w-button" (click)="goToAllPosts()">All Posts&nbsp;→</button>
</div>
