<div class="post-wrapper"
     style="opacity: 1;
     transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
     transform-style: preserve-3d;">
  <div class="about-image"></div>
  <div class="post-content">
    <div class="body-copy w-richtext">

      <h1>About me</h1>
      <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images,
        and video all in one place instead of having to add and format them individually. Just
        double-click and easily create content.</p>
      <h4>Static and dynamic content editing</h4>
      <p>A rich text element can be used with static or dynamic content. For static content, just drop it
        into any page and begin editing. For dynamic content, add a rich text field to any collection
        and then connect a rich text element to that field in the settings panel. Voila!</p>
    </div>
    <button class="button w-button" (click)="goToContact()">Get in touch</button>
  </div>
</div>
