<h1 class="white-bg-heading">Categories</h1>
<div class="w-dyn-list">
  <div role="list" class="w-dyn-items" *ngFor="let p of posts">
    <div role="listitem" class="w-dyn-item">
      <div class="post-wrapper" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        <a [routerLink]="['/all-posts', p.id]"
           style="background-image:url(&quot;{{p.img}}&quot;)"
           class="blog-image w-inline-block"></a>
        <div class="post-content">
          <a [routerLink]="['/all-posts', p.id]"
             class="blog-title-link w-inline-block">
            <h1 class="blog-title">{{p.shortString}}</h1>
          </a>
          <div class="post-summary-wrapper">
            <p class="post-summary">{{p.longString}}</p>
            <a [routerLink]="['/all-posts', p.id]" class="read-more-link">
              Read more...
            </a>
          </div>
          <div class="post-info-wrapper">
            <div class="post-info">{{p.dateTime}}</div>
            <div class="post-info">|</div>
            <a [routerLink]="['/categories']" [queryParams]="{category: p.category}" class="post-info link">{{p.category}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="button-wrapper">
  <button class="button w-button" (click)="goToAllPosts()">All Posts&nbsp;→</button>
</div>
