<div class="sidebar-wrapper">
  <div class="header">
    <a [routerLink]="['/']" class="site-name">Milton</a>
    <div class="grey-rule w-hidden-small w-hidden-tiny"></div>
    <p class="site-description">Denali is a simple responsive blog template. Easily add new posts using the
      Editor or change layout and design using the Designer.</p>
    <div class="grey-rule w-hidden-small w-hidden-tiny"></div>
    <nav class="navigation">
      <a routerLinkActive="w--current" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']" class="nav-link">home</a>
      <a routerLinkActive="w--current" [routerLink]="['/about']" class="nav-link">about</a>
      <a routerLinkActive="w--current" [routerLink]="['/contact']" class="nav-link">contact</a>
      <div class="grey-rule w-hidden-small w-hidden-tiny"></div>
    </nav>
    <div class="social-link-group">
      <a href="#link to profile" class="social-icon-link w-inline-block"><img src="../assets/Images/Social/facebook.svg" width="25" alt=""></a>
      <a href="#link to profile" class="social-icon-link w-inline-block"><img src="../assets/Images/Social/instagram.svg" width="25" alt=""></a>
      <a href="#link to profile" class="social-icon-link w-inline-block"><img src="../assets/Images/Social/twitter.svg" width="25" alt=""></a>
      <a href="#link to profile" class="social-icon-link w-inline-block"><img src="../assets/Images/Social/linkedin.svg" width="25" alt=""></a>
      <a href="mailto:fsdf@adf.df" class="social-icon-link w-inline-block"><img src="../assets/Images/Social/email.svg" width="25" alt=""></a>
    </div>
  </div>
</div>
<div class="content-wrapper">

  <router-outlet></router-outlet>

</div>
