<div class="post-wrapper"
     style="opacity: 1;
     transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
     transform-style: preserve-3d;">
  <div class="post-content">
    <div class="body-copy w-richtext">
      <div class="form-wrapper w-form">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <h1>Create New Post</h1>
            <div>
              <label>Img</label>
              <input type="text" placeholder="Img" class="text-field w-input" formControlName="img">
            </div>

            <div>
              <label>Short String</label>
              <input type="text" placeholder="Short String" class="text-field w-input" formControlName="shortString">
            </div>

            <div>
              <label>Long String</label>
              <textarea type="text" placeholder="Long String"  formControlName="longString"
                        class="text-field w-input" style="height: 150px"></textarea>
            </div>

            <div>
              <label>Category</label>
              <input type="text" placeholder="Category" class="text-field w-input" formControlName="category">
            </div>

            <button type="submit" class="button w-button" [disabled]="form.invalid">Send</button>
          </form>
      </div>
    </div>
  </div>
</div>
