<div class="post-wrapper"
     style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
  <div class="post-content">
    <div class="body-copy w-richtext">
      <h1>Get in touch</h1>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
        vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a
        pharetra augue. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna
        mollis euismod. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque
        ornare sem lacinia quam venenatis vestibulum.</p>
    </div>
    <div class="form-wrapper w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <label for="name">Name</label>
        <input
          type="text" id="name" name="name" data-name="Name" placeholder="Enter your name"
          maxlength="256" class="text-field w-input">
        <label for="email">
          Email Address
        </label>
        <input type="email" id="email" name="email" data-name="Email"
               placeholder="Enter your email address" maxlength="256" required=""
               class="text-field w-input">

        <label for="Message">Message</label>
        <textarea id="Message" name="Message" placeholder="Enter your message" maxlength="5000" data-name="Message"
                  required="" class="text-field text-area w-input">
                        </textarea>
        <input type="submit" value="Submit" data-wait="Please wait..." class="button w-button">
      </form>
      <div class="success-message w-form-done">
        <p class="success-text">Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form</p>
      </div>
    </div>
  </div>
</div>
