<div class="post-wrapper"
     style="opacity: 1;
     transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
     transform-style: preserve-3d;">
  <div class="post-content">
    <div class="body-copy w-richtext">
      <div class="form-wrapper w-form">
        <form [formGroup]="form" (ngSubmit)="update()">
          <h1>Update Post</h1>
          <div>
            <label>Img</label>
            <input type="text" placeholder="Img" class="text-field w-input" formControlName="img">
          </div>

          <div>
            <label>Short String</label>
            <input type="text" placeholder="Short String" class="text-field w-input" formControlName="shortString">
          </div>

          <div>
            <label>Middle String</label>
            <input type="text" placeholder="Short String" class="text-field w-input" formControlName="middleString">
          </div>

          <div>
            <label>Long String</label>
            <quill-editor formControlName="longString"></quill-editor>
          </div>

          <div>
            <label>Category</label>
            <input type="text" placeholder="Category" class="text-field w-input" formControlName="category">
          </div>

          <button type="submit" class="button w-button" [disabled]="form.invalid">Send</button>
          <button class="button w-button" style="float: right" [routerLink]="['/all-posts']">All Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
