input {
&.ng-invalid.ng-touched {
   border: 1px solid red;
 }

&.ng-valid.ng-touched {
   border: 1px solid green;
 }
}

.validation {
  color: red;
}

.button{
  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }
}


