<div style=" width: 70%; padding-top: 200px; padding-left: 30%">
  <div class="post-wrapper"
       style="opacity: 1;
     transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
     transform-style: preserve-3d;">
    <div class="post-content">
      <div class="body-copy w-richtext">
        <div class="form-wrapper w-form">
          <form [formGroup]="form" (ngSubmit)="registration()">
            <h1>Registration</h1>
            <div>
              <label>Login</label>
              <input type="text" placeholder="login" class="text-field w-input" formControlName="userName">
              <div class="validation">
                <small *ngIf="form.hasError('Поле Login неможет быть пустым', form.value.userName)">
                  Поле Login неможет быть пустым
                </small>
                <small>
                  Введите корректный Login
                </small>
                <small>
                  Такой пользователь уже существует
                </small>
              </div>
            </div>

            <div>
              <label>Email</label>
              <input type="email" placeholder="email" class="text-field w-input" formControlName="email">
              <div class="validation">
                <small>
                  Поле Email неможет быть пустым
                </small>
                <small>
                  Введите корректный Email
                </small>
              </div>
            </div>

            <div>
              <label>Password</label>
              <input type="text" placeholder="password" class="text-field w-input" formControlName="password">
              <div class="validation">
                <small>
                  Поле Password неможет быть пустым
                </small>
                <small>
                  Введите корректный Password
                </small>
              </div>
            </div>

            <button type="submit" class="button" [disabled]="form.invalid">Registration</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

